---
import ContactForm from '../components/ContactForm.astro'
import Heading from '../components/Heading.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout
    seo={{
        title: 'Contact',
    }}
>
    <section class="space-y-4 scroll-m-16" id="contact">
        <Heading>Contact</Heading>
        <ContactForm />
    </section>
</Layout>
