---
import ContactForm from '../components/ContactForm.astro'
import Heading from '../components/Heading.astro'
import Layout from '../layouts/Layout.astro'

// @ts-expect-error - Astro doesn't know about the request object
// import Brevo from '@getbrevo/brevo'

if (Astro.request.method === 'POST') {
    // const defaultClient = Brevo.ApiClient.instance
    // const data = await Astro.request.formData()
    // const name = data.get('name')
    // const email = data.get('email')
    // const message = data.get('message')
    // if (!name || !email || !message) {
    //     console.log('Missing data', { name, email, message })
    // }
    // if (name && email && message) {
    //     // Configure API key authorization: api-key
    //     const apiKey = defaultClient.authentications['api-key']
    //     apiKey.apiKey = import.meta.env.EMAIL_API_KEY
    //     const apiInstance = new Brevo.TransactionalEmailsApi()
    //     const sendSmtpEmail = new Brevo.SendSmtpEmail()
    //     sendSmtpEmail.sender = {
    //         name,
    //         email,
    //     }
    //     sendSmtpEmail.to = [{ name: 'Enis', email: 'eniszej@gmail.com' }]
    //     sendSmtpEmail.subject = `Hello, ${name} is on your Website`
    //     sendSmtpEmail.textContent = message
    //     apiInstance.sendTransacEmail(sendSmtpEmail)
    // }
}
---

<Layout
    seo={{
        title: 'Contact',
    }}
>
    <section class="space-y-4 scroll-m-16" id="contact">
        <Heading>Contact</Heading>
        <ContactForm />
    </section>
</Layout>
