---
// Component Imports

import { SEO, type Props as SeoProps } from 'astro-seo'
import { BASE_URL } from '../../config'
import About from '../components/About.astro'
import Education from '../components/Education.astro'
import Experience from '../components/Experience.astro'
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'
import Projects from '../components/Projects.astro'
import Skills from '../components/Skills.astro'

import { TypeAnimation } from 'react-type-animation'

import Contact from '../components/Contact.astro'
import ImageWithConfetti from '../components/ImageWithConfetti.astro'
import Paragraph from '../components/Paragraph.astro'
import './../globals.css'

const DEFAULT_SEO: SeoProps = {
    titleTemplate: '%s | Enis Zejnilovic',
    titleDefault: 'Enis Zejnilovic Portfolio',
    description: `Discover the portfolio of a skilled Full-stack software engineer and project manager based in Cologne, 
            with experience in various areas of computer science, including machine learning and web development.  
            Specialized in React, TypeScript, and Next.js, passionate about learning new technologies 
            and working in teams. Get in touch to discuss potential projects or opportunities.`,

    openGraph: {
        basic: {
            title: 'Enis Zejnilovic Portfolio',
            url: BASE_URL,
            type: 'website',
            image: `${BASE_URL}/images/logo/enisLogo.png`,
        },
        optional: {
            description:
                'Discover the portfolio of a skilled Full-stack software engineer and project manager based in Cologne',
        },
        image: {
            alt: 'EZ Logo',
            url: `${BASE_URL}/images/logo/enisLogo.png`,
            height: 1014,
        },
    },
    extend: {
        link: [
            {
                rel: 'icon',
                type: 'image/svg+xml',
                href: '/favicon.svg',
            },
        ],
    },
}

const { seo } = Astro.props
const finalSeo: SeoProps = {
    ...DEFAULT_SEO,
    ...seo,
    openGraph: DEFAULT_SEO.openGraph
        ? { ...DEFAULT_SEO.openGraph, ...seo?.openGraph }
        : undefined,
    extend: {
        link: [
            ...(DEFAULT_SEO.extend?.link ?? []),
            ...(seo?.extend?.link ?? []),
        ],
    },
}
---

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <SEO {...finalSeo} />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta
            name="keywords"
            content="HTML, CSS, JavaScript, TypeScript, NodeJS, ReactJS, NextJS, Astro"
        />

        <meta name="author" content="Enis Zejnilovic" />
        <meta name="generator" content={Astro.generator} />

        <link
            rel="preload"
            href="/fonts/Rubik-Regular.woff2"
            as="font"
            type="font/woff2"
            crossorigin
        />

        <title>Enis Zejnilovic Portfolio</title>
    </head>

    <body class="bg-slate-800 text-white flex flex-col">
        <div class="fixed w-full z-10">
            <Header />
        </div>
        <div class="flex flex-col gap-y-3 p-8 pt-32">
            <div class="flex justify-center text-3xl lg:p-8">
                <span class="whitespace-pre-line md:whitespace-normal">
                    Hi, I'm Enis Zejnilovic,
                    <Paragraph className="whitespace-pre-line">
                        <TypeAnimation
                            client:load
                            sequence={[
                                ' an Anime Fan.',
                                1000,
                                ' a Sports Enthusiast.',
                                1000,
                                ' a Teamplayer.',
                                1000,
                                ' a Project Manager.',
                                1000,
                                ' a Full-stack Developer.',
                                1000,
                            ]}
                            wrapper="span"
                            speed={50}
                            repeat={Infinity}
                        />
                    </Paragraph>
                </span>
            </div>

            <div class="grid gap-6 grid-cols-1 lg:grid-cols-2">
                <div class="order-last md:order-1">
                    <About />
                </div>

                <div class="px-10 md:px-44 md:py-10 lg:order-2 lg:p-4 lg:py-10">
                    <ImageWithConfetti />
                </div>
            </div>

            <Skills />

            <Projects />
            <div class="grid grid-cols-1 md:grid-cols-2 gap-x-5">
                <Experience />
                <Education />
            </div>
            <Contact />
            <Footer />
        </div>
    </body>
</html>
