---
// Component Imports

import About from '../components/About.astro'

import { TypeAnimation } from 'react-type-animation'

import ImageWithConfetti from '../components/ImageWithConfetti.astro'
import Paragraph from '../components/Paragraph.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout>
    <div class="flex flex-col gap-y-3 scroll-mt-20" id="about">
        <div class="flex justify-center text-3xl">
            <span class="whitespace-pre-line md:whitespace-normal">
                Hi, I'm Enis Zejnilovic,
                <Paragraph className="whitespace-pre-line">
                    <TypeAnimation
                        client:load
                        sequence={[
                            ' an Anime Fan.',
                            1000,
                            ' a Sports Enthusiast.',
                            1000,
                            ' a Teamplayer.',
                            1000,
                            ' a Project Manager.',
                            1000,
                            ' a Full-stack Developer.',
                            1000,
                        ]}
                        wrapper="span"
                        speed={50}
                        repeat={Infinity}
                    />
                </Paragraph>
            </span>
        </div>

        <div class="grid gap-6 grid-cols-1 lg:grid-cols-2">
            <div class="order-last md:order-1">
                <About />
            </div>

            <div class="px-10 md:px-44 md:py-10 lg:order-2 lg:p-4 lg:py-10">
                <ImageWithConfetti />
            </div>
        </div>
    </div>
</Layout>
