---
// Component Imports

import About from '../components/About.astro'
import Button from '../components/Button.astro'
import Education from '../components/Education.astro'
import Experience from '../components/Experience.astro'
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'
import Projects from '../components/Projects.astro'
import Skills from '../components/Skills.astro'
import Wrapper from '../components/Wrapper.astro'

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta
            name="description"
            content="Discover the portfolio of a skilled software engineer and project manager based in Cologne, 
            with experience in various areas of computer science, including machine learning and web development.  
            Specialized in React, TypeScript, and Next.js, passionate about learning new technologies 
            and working in teams. Get in touch to discuss potential projects or opportunities."
        />
        <meta
            name="keywords"
            content="HTML, CSS, JavaScript, TypeScript, NodeJS, ReactJS, NextJS, Astro"
        />
        <meta name="author" content="Enis Zejnilovic" />
        <meta name="generator" content={Astro.generator} />
        <title>Enis Zejnilovic Portfolio</title>
    </head>

    <body class="bg-slate-800 text-white p-4 flex flex-col">
        <div class="flex flex-col">
            <Header />
            <Button>Tailwind Button in Astro!</Button>
            <a href="/markdown-page" class="p-4 underline"
                >Markdown is also supported...</a
            >

            <About />
            <Wrapper>
                <div slot="test" class="text-black">some test for slot 3</div>
                <div class="text-black">some test for slot</div>
                <div class="text-black">some test for slot 2</div>
            </Wrapper>

            <Skills />
            <Projects />
            <Experience />
            <Education />
            <Footer />
        </div>
    </body>
</html>
