---
import Heading from '../components/Heading.astro'
import Skill from '../components/Skill.astro'
import { stacks } from '../components/stack'
import Layout from '../layouts/Layout.astro'
---

<Layout
    seo={{
        description:
            'Explore the proficiency of Enis Zejnilovic in full-stack development using JavaScript and TypeScript. Navigate through skills in React, Next.js, Node.js, and database management. With experience in React Native, project management, Git, and collaboration tools, discover the capabilities of Enis Zejnilovic in software architecture, API design, and problem-solving.',
        title: 'Skils',
    }}
>
    <section class="scroll-m-16 space-y-4" id="skills">
        <Heading>Technical Skills</Heading>

        <div class="flex flex-col gap-4">
            {
                stacks.map((stack) => {
                    return (
                        <div class="flex flex-col w-full gap-4">
                            <h2 class="text-2xl font-bold underline decoration-blue-500 underline-offset-8">
                                {stack.title}
                            </h2>
                            <div class="flex flex-row flex-wrap gap-4">
                                {stack.items.map((item) => {
                                    return <Skill item={item} />
                                })}
                            </div>
                        </div>
                    )
                })
            }
        </div>
    </section>
</Layout>
