---
import Heading from '../components/Heading.astro'
import Skill from '../components/Skill.astro'
import { stacks } from '../components/stack'
import Layout from '../layouts/Layout.astro'
---

<Layout
    seo={{
        description:
            "Explore the comprehensive skill set of Enis Zejnilovic as a software developer. Enis possesses expertise in front-end and back-end technologies, with proficiency in languages such as JavaScript and TypeScript. Specialized in web development frameworks including React, Next.js, and Node.js. Well-versed in database management using technologies like Prisma and SQL. Experienced in mobile app development using React Native. Skilled in project management, version control with Git, and collaboration tools such as Jira and Confluence. Discover Enis's capabilities in software architecture, API design, and problem-solving.",
        title: 'Enis Zejnilovic Full-stack Software Developer - Skils',
    }}
>
    <section class="scroll-m-16 space-y-4" id="skills">
        <Heading>Technical Skills</Heading>

        <div class="flex flex-col gap-4">
            {
                stacks.map((stack) => {
                    return (
                        <div class="flex flex-col w-full gap-4">
                            <h2 class="text-2xl font-bold underline decoration-blue-500 underline-offset-8">
                                {stack.title}
                            </h2>
                            <div class="flex flex-row flex-wrap gap-4">
                                {stack.items.map((item) => {
                                    return <Skill item={item} />
                                })}
                            </div>
                        </div>
                    )
                })
            }
        </div>
    </section>
</Layout>
