---
import Component from './Component.astro'
---

<Component>
    <section>
        <h2>Contact Me</h2>
        <form>
            <label>Name</label>
            <input type="text" name="name" placeholder="Your name" required />
            <label>Email</label>
            <input
                type="email"
                name="_replyto"
                placeholder="Your email"
                required
            />
            <label>Message</label>
            <textarea name="message" placeholder="Your message" required
            ></textarea>
            <button>Send</button>
        </form>
    </section>
</Component>
