---
import Component from './Component.astro'
import Heading from './Heading.astro'
---

<Component>
    <section class="space-y-4 scroll-m-16" id="contact">
        <Heading>Contact</Heading>
        <div>TODO</div>
    </section>
</Component>
