---
import Component from './Component.astro'
import Timeline from './Timeline.astro'
---

<Component>
    <section>
        <h2>Education</h2>
        <Timeline
            entries={[
                {
                    title: 'Master of Computer Science, RWTH Aachen University',
                    description:
                        'RDF Schema Generation, Artificial Intelligence, Data Mining',
                    time: 'Oct. 2016 - Aug. 2021',
                },
                {
                    title: 'Bachelor of Computer Science, RWTH Aachen University',
                    description:
                        'Generative Development, Machine Learning, Data Science',
                    time: 'Oct. 2013 - Oct. 2016',
                },
            ]}
        />
    </section>
</Component>
