---
import Component from './Component.astro'
---

<Component>
    <section class="experience" id="experience">
        <h2 class="section__title">Experience</h2>
        <ul class="experience__list">
            <li>
                <h3 class="experience__title">Software Engineer</h3>
                <p class="experience__date">January 2021 - Present</p>
                <p class="experience__company">ABC Company</p>
                <ul class="experience__achievements">
                    <li>
                        Developed a mobile app using React Native and
                        TypeScript.
                    </li>
                    <li>
                        Designed and implemented a RESTful API using Node.js and
                        Express.
                    </li>
                    <li>
                        Collaborated with a team of developers and designers to
                        deliver high-quality software.
                    </li>
                </ul>
            </li>
            <li>
                <h3 class="experience__title">Project Manager</h3>
                <p class="experience__date">June 2018 - December 2020</p>
                <p class="experience__company">XYZ Inc.</p>
                <ul class="experience__achievements">
                    <li>
                        Managed a team of 10 developers to deliver software
                        projects on time and within budget.
                    </li>
                    <li>
                        Implemented Agile methodologies to improve team
                        efficiency and communication.
                    </li>
                    <li>
                        Collaborated with stakeholders to define project
                        requirements and scope.
                    </li>
                </ul>
            </li>
        </ul>
    </section>
</Component>
