---
import Component from './Component.astro'
---

<Component>
    <section>
        <h2>Experience</h2>
        <ul>
            <li>
                <h3>Software Engineer</h3>
                <p>January 2021 - Present</p>
                <p>ABC Company</p>
                <ul>
                    <li>
                        Developed a mobile app using React Native and
                        TypeScript.
                    </li>
                    <li>
                        Designed and implemented a RESTful API using Node.js and
                        Express.
                    </li>
                    <li>
                        Collaborated with a team of developers and designers to
                        deliver high-quality software.
                    </li>
                </ul>
            </li>
            <li>
                <h3>Project Manager</h3>
                <p>June 2018 - December 2020</p>
                <p>XYZ Inc.</p>
                <ul>
                    <li>
                        Managed a team of 10 developers to deliver software
                        projects on time and within budget.
                    </li>
                    <li>
                        Implemented Agile methodologies to improve team
                        efficiency and communication.
                    </li>
                    <li>
                        Collaborated with stakeholders to define project
                        requirements and scope.
                    </li>
                </ul>
            </li>
        </ul>
    </section>
</Component>
