---
import { Icon } from 'astro-icon'
import Component from './Component.astro'
---

<Component>
    <footer class="footer">
        <div class="">
            <li class=""><a href="#about">About</a></li>
            <li class=""><a href="#skills">Skills</a></li>
            <li class=""><a href="#experience">Experience</a></li>
            <li class=""><a href="#education">Education</a></li>
            <li class=""><a href="#contact">Contact</a></li>
        </div>
        <div class="flex">
            <a
                href="https://www.linkedin.com/in/enis-zejnilovic-790b91146"
                target="_blank"
                rel="noopener"
                class="w-8 h-8"
            >
                <Icon name="mdi:linkedin" />
            </a>
            <a
                href="https://github.com/enisze"
                target="_blank"
                rel="noopener"
                class="w-8 h-8"
            >
                <Icon name="mdi:github" />
            </a>
            <a
                href="mailto:eniszej@gmail.com"
                target="_blank"
                rel="noopener"
                class="w-8 h-8"
            >
                <Icon name="mdi:email" />
            </a>
            <a href="todo" target="_blank" rel="noopener" class="w-8 h-8">
                <Icon name="skill-icons:discord" />
            </a>
        </div>
        <p class="footer__text">&copy; 2023 Enis Zejnilovic</p>
    </footer>
</Component>
