---
import { Icon } from 'astro-icon'
import Component from './Component.astro'
---

<Component>
    <footer class="footer">
        <ul class="footer__list">
            <li class="footer__item"><a href="#about">About</a></li>
            <li class="footer__item"><a href="#skills">Skills</a></li>
            <li class="footer__item"><a href="#experience">Experience</a></li>
            <li class="footer__item"><a href="#education">Education</a></li>
            <li class="footer__item"><a href="#contact">Contact</a></li>
        </ul>
        <div class="footer__social">
            <a
                href="https://www.linkedin.com/in/enis-zejnilovic-790b91146"
                target="_blank"
                rel="noopener"
            >
                <Icon name="mdi:linkedin" />
            </a>
            <a href="https://github.com/enisze" target="_blank" rel="noopener">
                <Icon name="mdi:github" />
            </a>
            <a href="mailto:eniszej@gmail.com" target="_blank" rel="noopener">
                <Icon name="mdi:email" />
            </a>
            <a href="todo" target="_blank" rel="noopener">
                <Icon name="skill-icons:discord" />
            </a>
        </div>
        <p class="footer__text">&copy; 2023 Enis Zejnilovic</p>
    </footer>
</Component>
