---
---

<footer class="space-y-2 pb-4">
    <div class="flex justify-center gap-x-1">
        <a
            href="https://www.linkedin.com/in/enis-zejnilovic-790b91146"
            target="_blank"
            rel="noopener"
            class="w-8 h-8"
        >
            <img
                src={'/images/icons/linkedIn.svg'}
                alt={'LinkedIn'}
                class:list={['h-12 w-12']}
            />
        </a>
        <a
            href="https://github.com/enisze"
            target="_blank"
            rel="noopener"
            class="w-8 h-8"
        >
            <img
                src={'/images/stack/github.svg'}
                alt={'Github'}
                class:list={['h-12 w-12', 'invert-0']}
            />
        </a>
        <a
            href="mailto:eniszej@gmail.com"
            target="_blank"
            rel="noopener"
            class="w-8 h-8"
        >
            <img
                src={'/images/icons/mail.svg'}
                alt={'Email'}
                class:list={['h-12 w-12', 'invert-0 dark:invert']}
            />
        </a>
    </div>

    <p class="flex justify-center">&copy; 2023 Enis Zejnilovic</p>
</footer>
