---
import { Icon } from 'astro-icon'
import Component from './Component.astro'
---

<Component>
    <footer class="space-y-2">
        <div class="flex justify-center gap-x-1">
            <a
                href="https://www.linkedin.com/in/enis-zejnilovic-790b91146"
                target="_blank"
                rel="noopener"
                class="w-8 h-8"
            >
                <Icon name="mdi:linkedin" />
            </a>
            <a
                href="https://github.com/enisze"
                target="_blank"
                rel="noopener"
                class="w-8 h-8"
            >
                <Icon name="mdi:github" />
            </a>
            <a
                href="mailto:eniszej@gmail.com"
                target="_blank"
                rel="noopener"
                class="w-8 h-8"
            >
                <Icon name="mdi:email" />
            </a>
            <a href="todo" target="_blank" rel="noopener" class="w-8 h-8">
                <Icon name="skill-icons:discord" />
            </a>
        </div>

        <p class="flex justify-center">&copy; 2023 Enis Zejnilovic</p>
    </footer>
</Component>
