---
type Props = {
    githubLink?: string
}

const { githubLink } = Astro.props
---

{
    githubLink && (
        <a href={githubLink}>
            <img
                src="/images/stack/github.svg"
                alt={`Github Link to Project ${githubLink}`}
                class:list={[
                    'h-9 w-9 invert bg-slate-950 rounded-full dark:invert-0',
                ]}
            />
        </a>
    )
}
