---
---

<nav class="flex gap-x-4 bg-slate-950 w-full p-4 justify-center">
    <a href="#skills">Skills</a>
    <a href="#projects">Projects</a>
    <a href="#experience">Experience</a>
    <a href="#education">Education</a>
    <a href="#contact">Contact</a>
</nav>
