---
import Component from './Component.astro'
---

<Component>
    <nav
        class="flex gap-x-4 bg-slate-950 rounded-2xl p-4 justify-center fixed w-10/12 m-2"
    >
        <a href="#skills">Skills</a>
        <a href="#projects">Projects</a>
        <a href="#experience">Experience</a>
        <a href="#education">Education</a>
        <a href="#contact">Contact</a>
    </nav>
</Component>
