---
import Link from './Link.astro'
---

<nav class="flex flex-wrap gap-4 w-full p-4 justify-center bg-slate-900">
    <Link href="#skills">Skills</Link>
    <Link href="#projects">Projects</Link>
    <Link href="#experience">Experience</Link>
    <Link href="#education">Education</Link>
    <Link href="#contact">Contact</Link>
</nav>
