---
import Component from './Component.astro'
---

<Component>
    <section>
        <div>
            <h1>Software Engineer and Project Manager</h1>
            <p>
                Passionate about building great software and leading teams to
                success.
            </p>
            <a href="#contact">Get in touch</a>
        </div>
    </section>
</Component>
