---
const props = Astro.props
---

<a class="relative group" {...props}>
    <span>
        <slot />
    </span>
    <span
        class="absolute -bottom-1 left-0 w-0 h-1 bg-blue-400 transition-all group-hover:w-full"
    ></span>
</a>
