---
import Component from './Component.astro'
---

<Component>
    <section>
        <h2>Projects</h2>
        <ul>
            <li>
                <a href="#">
                    <div>
                        <img src="/images/project-1.jpg" alt="Project 1" />
                    </div>
                    <div>
                        <h3>PropRate</h3>
                        <h3>Teampilot.ai</h3>
                        <h3>Dispox App</h3>
                        <h3>Event wizard</h3>
                        <h3>Horse race (when good)</h3>
                        <h3>Western digital project</h3>
                        <h3>Sensor data project</h3>
                        <h3>Neologism 2.0</h3>
                        <h3>Scraping hackerone website</h3>
                        <h3>AI for verruecktes labyrinth</h3>
                        <p>
                            Built with React and Next.js, this e-commerce
                            website allows users to purchase products securely
                            and easily.
                        </p>
                        <ul>
                            <li>React</li>
                            <li>Next.js</li>
                            <li>Stripe API</li>
                        </ul>
                    </div>
                </a>
            </li>
        </ul>
    </section>
</Component>
