---
type Props = {
    projectLink?: string
}

const { projectLink } = Astro.props
---

{
    projectLink && (
        <a href={projectLink}>
            <img
                src="/images/icons/link.svg"
                alt={`Link to Project ${projectLink}`}
                class:list={[
                    'h-9 w-9 rounded-full bg-white invert p-1 dark:invert-0',
                ]}
            />
        </a>
    )
}
