---
import Component from './Component.astro'
---

<Component>
    <section>
        <h2>Projects</h2>
        <ul>
            <li>
                <a href="#">
                    <div>
                        <img src="/images/project-1.jpg" alt="Project 1" />
                    </div>
                    <div>
                        <h3>E-commerce website</h3>
                        <p>
                            Built with React and Next.js, this e-commerce
                            website allows users to purchase products securely
                            and easily.
                        </p>
                        <ul>
                            <li>React</li>
                            <li>Next.js</li>
                            <li>Stripe API</li>
                        </ul>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div>
                        <img src="/images/project-2.jpg" alt="Project 2" />
                    </div>
                    <div>
                        <h3>Stock prediction model</h3>
                        <p>
                            Using machine learning algorithms, this model
                            predicts stock prices with high accuracy.
                        </p>
                        <ul>
                            <li>Python</li>
                            <li>Scikit-learn</li>
                            <li>Pandas</li>
                        </ul>
                    </div>
                </a>
            </li>
        </ul>
    </section>
</Component>
