---
import Component from './Component.astro'
import Heading from './Heading.astro'
---

<Component>
    <section class="space-y-4 scroll-m-16" id="projects">
        <Heading>Projects</Heading>
        <ul>
            <li>
                <a href="#">
                    <div>
                        <div>PropRate</div>
                        <div>Teampilot.ai</div>
                        <div>Dispox App</div>
                        <div>Event wizard</div>
                        <div>Horse race (when good)</div>
                        <div>Western digital project</div>
                        <div>Sensor data project</div>
                        <div>Neologism 2.0</div>
                        <div>Scraping hackerone website</div>
                        <div>AI for verruecktes labyrinth</div>
                        <p>
                            Built with React and Next.js, this e-commerce
                            website allows users to purchase products securely
                            and easily.
                        </p>
                        <ul>
                            <li>React</li>
                            <li>Next.js</li>
                            <li>Stripe API</li>
                        </ul>
                    </div>
                </a>
            </li>
        </ul>
    </section>
</Component>
