---
import Component from './Component.astro'
---

<Component>
    <section class="projects" id="projects">
        <h2 class="section__title">Projects</h2>
        <ul class="projects__list">
            <li>
                <a href="#">
                    <div class="project__image">
                        <img src="/images/project-1.jpg" alt="Project 1" />
                    </div>
                    <div class="project__info">
                        <h3 class="project__title">E-commerce website</h3>
                        <p class="project__description">
                            Built with React and Next.js, this e-commerce
                            website allows users to purchase products securely
                            and easily.
                        </p>
                        <ul class="project__tags">
                            <li>React</li>
                            <li>Next.js</li>
                            <li>Stripe API</li>
                        </ul>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="project__image">
                        <img src="/images/project-2.jpg" alt="Project 2" />
                    </div>
                    <div class="project__info">
                        <h3 class="project__title">Stock prediction model</h3>
                        <p class="project__description">
                            Using machine learning algorithms, this model
                            predicts stock prices with high accuracy.
                        </p>
                        <ul class="project__tags">
                            <li>Python</li>
                            <li>Scikit-learn</li>
                            <li>Pandas</li>
                        </ul>
                    </div>
                </a>
            </li>
        </ul>
    </section>
</Component>
