---
import { Icon } from 'astro-icon'
import Component from './Component.astro'

//TODO: Add glowing effect for icons, and find correct library.
//TODO: Lebenslauf hinzufuegen und timeline animieren wie bei github.
//TODO: N paar projekte hinzufuegen. / Beschreiben die ich gemacht hab.
---

<Component>
    <section>
        <h2>Technical Skills</h2>
        <div>
            <li>
                <Icon name="mdi:react" />
            </li>
            <li>
                <Icon name="simple-icons:typescript" />
            </li>
            <li>
                <Icon name="skill-icons:nextjs-dark" />
            </li>
            <li>
                <Icon name="skill-icons:python-dark" />
            </li>
            <li>
                <Icon name="skill-icons:vim-dark" />
            </li>
            <li>
                <Icon name="skill-icons:css" />
            </li>
            <li>
                <Icon name="skill-icons:graphql-dark" />
            </li>
            <li>
                <Icon name="skill-icons:html" />
            </li>
            <li>
                <Icon name="skill-icons:jest" />
            </li>
            <li>
                <Icon name="skill-icons:materialui-dark" />
            </li>
            <li>
                <Icon name="skill-icons:vscode-dark" />
            </li>
            <li>
                <Icon name="skill-icons:vercel-dark" />
            </li>
        </div>
    </section>
</Component>
