---
import type { StackItem } from './stack'
type Props = {
    item: StackItem
}

const { item } = Astro.props
---

<a
    class="flex p-3 shadow-lg shadow-slate-950 rounded-lg w-28 bg-white border-blue-500 border dark:bg-gray-900 flex-col items-center gap-1 duration-200 hover:drop-shadow-[0_0px_20px_rgba(0,0,0,0.25)] dark:hover:drop-shadow-[0_0px_20px_rgba(255,255,255,0.25)] sm:w-32"
    href={item.href}
    target="_blank"
>
    <img
        src={item.imgUrl}
        alt={item.label}
        class:list={[
            'h-8 w-8',
            item.baseColor === 'white' && 'invert dark:invert-0',
            item.baseColor === 'black' && 'invert-0 dark:invert',
        ]}
    />
    <p class="text-xs md:text-sm">
        {item.label}
    </p>
</a>
