---
import { Icon } from 'astro-icon'
import Component from './Component.astro'

// import Me from './me.jpg'
// import NextIcon from './nextIcon.svg'

//TODO: Add glowing effect for icons, and find correct library.
//TODO: Lebenslauf hinzufuegen und timeline animieren wie bei github.
//TODO: N paar projekte hinzufuegen. / Beschreiben die ich gemacht hab.
---

<Component>
    <section>
        <h2>Technical Skills</h2>

        <div class="flex flex-col items-center gap-y-1">
            <div class="flex flex-row gap-x-2">
                <!-- <div>
                    <Fragment set:html={NextIcon} />
                </div> -->

                <img src="nextIcon.svg" alt="image description" />

                <img src="me.jpg" alt="image description" />

                <div style={`background-image: url(${'me.jpg'});`}></div>

                <Icon name="mdi:react" className="h-14 w-14" />
                <Icon name="simple-icons:typescript" className="h-14 w-14" />
                <Icon name="skill-icons:nextjs-dark" className="h-14 w-14" />
                <Icon name="skill-icons:python-dark" className="h-14 w-14" />
                <Icon name="skill-icons:vim-dark" className="h-14 w-14" />
                <Icon name="skill-icons:css" className="h-14 w-14" />
            </div>
            <div class="flex flex-row gap-x-2">
                <Icon name="skill-icons:graphql-dark" className="h-14 w-14" />
                <Icon name="skill-icons:html" className="h-14 w-14" />
                <Icon name="skill-icons:jest" className="h-14 w-14" />
                <Icon
                    name="skill-icons:materialui-dark"
                    className="h-14 w-14"
                />
                <Icon name="skill-icons:vscode-dark" className="h-14 w-14" />
                <Icon name="skill-icons:vercel-dark" className="h-14 w-14" />
            </div>
        </div>
    </section>
</Component>
