<div class="w-full h-full flex justify-center items-center">
    <h1 class="text-4xl font-bold">test</h1>
    <h1
        id="typewriter"
        class="text-4xl font-bold underline decoration-purple-500"
    >
    </h1>
</div>

<script>
    const words = [
        'Hello, World!',
        'Welcome to my website!',
        'This is a typewriter effect.',
    ]
    let i = 0
    let j = 0
    let currentWord = ''
    let isDeleting = false

    function type() {
        currentWord = words[i]
        const element = document.getElementById('typewriter')
        if (!element) return
        if (isDeleting) {
            element.textContent = currentWord.substring(0, j - 1)
            j--
            if (j == 0) {
                isDeleting = false
                i++
                if (i == words.length) {
                    i = 0
                }
            }
        } else {
            element.textContent = currentWord.substring(0, j + 1)
            j++
            if (j == currentWord.length) {
                isDeleting = true
            }
        }
        setTimeout(type, 100)
    }

    type()
</script>
