---
import { SEO, type Props as SeoProps } from 'astro-seo'
import { ViewTransitions } from 'astro:transitions'
import { BASE_URL } from '../../config'
import Footer from '../components/Footer.astro'
import Navbar from '../components/Navbar.astro'

import './../globals.css'

const description = `Portfolio of Enis Zejnilovic, a skilled Full-stack software engineer based in Cologne, with experience in web development. Specialized in React, TypeScript, and Next.js, passionate about learning new technologies and working in teams.`

const DEFAULT_SEO: SeoProps = {
    titleTemplate: '%s | Enis Zejnilovic',
    titleDefault: 'Enis Zejnilovic Full-stack Software Developer - Portfolio',
    description,
    openGraph: {
        basic: {
            title: 'Enis Zejnilovic Full-stack Software Developer - Portfolio',
            url: BASE_URL,
            type: 'website',
            image: `${BASE_URL}/images/preview.png`,
        },
        optional: {
            description,
        },
        image: {
            alt: 'Enis Zejnilovic Portfolio Screenshot',
        },
    },
    twitter: {
        creator: 'Enis Zejnilovic',
        title: 'Enis Zejnilovic Full-stack Software Developer - Portfolio',
        description,
        card: 'summary_large_image',
        image: `${BASE_URL}/images/preview.png`,
        imageAlt: 'Portfolio Website Screenshot',
    },
    extend: {
        link: [
            {
                rel: 'icon',
                type: 'image/svg+xml',
                href: '/favicon.svg',
            },
        ],
    },
}

const { seo } = Astro.props
const finalSeo: SeoProps = {
    ...DEFAULT_SEO,
    description,
    ...seo,
    openGraph: DEFAULT_SEO.openGraph
        ? { ...DEFAULT_SEO.openGraph, ...seo?.openGraph }
        : undefined,
    extend: {
        link: [
            ...(DEFAULT_SEO.extend?.link ?? []),
            ...(seo?.extend?.link ?? []),
        ],
    },
}
---

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <SEO {...finalSeo} />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta
            name="keywords"
            content="portfolio, zejnilovic, enis, HTML, CSS, JavaScript, TypeScript, NodeJS, ReactJS, NextJS, Astro"
        />
        <link rel="sitemap" href="/sitemap-index.xml" />

        <meta name="author" content="Enis Zejnilovic" />
        <meta name="generator" content={Astro.generator} />

        <link
            rel="preload"
            href="/fonts/Rubik-Regular.woff2"
            as="font"
            type="font/woff2"
            crossorigin
        />

        <title>Enis Zejnilovic Portfolio</title>
        <ViewTransitions />
    </head>

    <body class="dark:bg-slate-800 text-black dark:text-white flex flex-col">
        <div class="fixed w-full z-20">
            <Navbar />
        </div>
        <div class="py-24 px-8">
            <slot />
        </div>
        <Footer />
    </body>
</html>
